## Characteristics of a set
### It is unordered 
### It does not contain duplicates
### You create a set using curly braces
### It is immutable

In [156]:
# Creating an empty set
student = set()

In [158]:
type(student)

set

In [12]:
my_set = {"Mike", 30, 89.99, True, (1,2,3,4,5)}
print(my_set)
print(type(my_set))

{True, 'Mike', 89.99, (1, 2, 3, 4, 5), 30}
<class 'set'>

In [21]:
num1 = {1,2,3,4,5,6,7,8,9,10}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [14]:
# set is immutable
num1[0] = 100

NameError: name 'num1' is not defined

In [23]:
#looping a set

for i in num1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num1 = {1,2,3,4,5,6,7,8,9,10}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [27]:
?set.add

Docstring:
Add an element to a set.

This has no effect if the element is already present.
Type:      method_descriptor

In [31]:
num1.add((1,2,3))
num1

{(1, 2, 3), 1, 10, 123, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
?set.difference

Docstring:
Return the difference of two or more sets as a new set.

(i.e. all elements that are in this set but not the others.)
Type:      method_descriptor

In [39]:
num1.difference(num2)

{(1, 2, 3), 10, 123, 6, 7, 8, 9}

In [41]:
?set.difference_update

Docstring: Remove all elements of another set from this set.
Type:      method_descriptor

In [57]:
num1 = {1,2,3,4,5,6,7,8,9,10}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [59]:
num1.difference_update(num2)

In [61]:
num1

{6, 7, 8, 9, 10}

In [63]:
?set.discard

Docstring:
Remove an element from a set if it is a member.

Unlike set.remove(), the discard() method does not raise
an exception when an element is missing from the set.
Type:      method_descriptor

In [75]:
num1.discard(20)

In [71]:
num1

{6, 7, 8, 9}

In [77]:
num1 = {1,2,3,4,5,6,7,8,9,10,1,2,3,4,5}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [79]:
?set.intersection

Docstring:
Return the intersection of two sets as a new set.

(i.e. all elements that are in both sets.)
Type:      method_descriptor

In [81]:
num1.intersection(num2)

{1, 2, 3, 4, 5}

In [85]:
num1.intersection_update(num2)

In [87]:
num1

{1, 2, 3, 4, 5}

In [91]:
?set.isdisjoint

Docstring: Return True if two sets have a null intersection.
Type:      method_descriptor

In [107]:
num1 = {1,2,3,4,5,}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [95]:
num1.isdisjoint(num2)

False

In [97]:
?set.issubset

Signature: set.issubset(self, other, /)
Docstring: Test whether every element in the set is in other.
Type:      method_descriptor

In [99]:
num1.issubset(num2)

False

In [101]:
?set.issuperset

Signature: set.issuperset(self, other, /)
Docstring: Test whether every element in other is in the set.
Type:      method_descriptor

In [109]:
num2.issuperset(num1)

True

In [111]:
?set.pop

Docstring:
Remove and return an arbitrary set element.
Raises KeyError if the set is empty.
Type:      method_descriptor

In [119]:
num1.pop()

1

In [121]:
num1

{2, 3, 4, 5}

In [127]:
?set.symmetric_difference

Docstring:
Return the symmetric difference of two sets as a new set.

(i.e. all elements that are in exactly one of the sets.)
Type:      method_descriptor

In [129]:
num1 = {1,2,3,4,5,}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [131]:
num1.symmetric_difference(num2)

{11, 12, 13, 14, 15}

In [133]:
?set.union

Docstring:
Return the union of sets as a new set.

(i.e. all elements that are in either set.)
Type:      method_descriptor

In [135]:
num1 = {1,2,3,4,5,}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [137]:
num1.union(num2)

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}

In [139]:
?set.update

Docstring: Update a set with the union of itself and others.
Type:      method_descriptor

In [141]:
num1.update(num2)

In [144]:
num1

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}

In [146]:
num1 = {1,2,3,4,5,}
num2 = {1,2,3,4,5,11,12,13,14,15}

In [148]:
num1| num2

{1, 2, 3, 4, 5, 11, 12, 13, 14, 15}

In [150]:
num1 & num2

{1, 2, 3, 4, 5}

In [152]:
num2 - num1

{11, 12, 13, 14, 15}