## Charecteristics of tuples 
### It is ordered
### It is immutable
### It is  created with parenthesis or bracket
### It can contain multiple data type

In [14]:
# Two ways of creating an empty tuple 
my_tuple = ()
my_tuple2 = tuple()

In [16]:
print(my_tuple)
print(my_tuple2)

()
()

In [18]:
print(type(my_tuple))
print(type(my_tuple2))

<class 'tuple'>
<class 'tuple'>

In [24]:
my_tuple =("Salam Ajibola", 30, 99.99, True, [1,2,3], {"School":"Unilag"})
my_tuple

('Salam Ajibola', 30, 99.99, True, [1, 2, 3], {'School': 'Unilag'})

In [30]:
# Indexing a tuple
print(my_tuple[5]["School"])
print(my_tuple[-1]["School"])
print(my_tuple[4][1])  
print(my_tuple[-2][-2])

Unilag
Unilag
2
2

In [34]:
# Slicing a tuple
print(my_tuple[0:3])
print(my_tuple[:-3])
print(my_tuple[4:][1])  
print(my_tuple[-2:])

('Salam Ajibola', 30, 99.99)
('Salam Ajibola', 30, 99.99)
{'School': 'Unilag'}
([1, 2, 3], {'School': 'Unilag'})

In [36]:
# Using loop with tuple 
for i in my_tuple:
    print(i)

Salam Ajibola
30
99.99
True
[1, 2, 3]
{'School': 'Unilag'}

In [38]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [42]:
my_tuple.count(30)

1

In [44]:
my_tuple.index(30)

1

In [46]:
?my_tuple.index

Signature: my_tuple.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [48]:
?my_tuple.count

Signature: my_tuple.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [50]:
# Tuple unpacking
x, y = (30,40)

In [52]:
x

30

In [54]:
y

40

In [56]:
my_dict = {"c":10,"b":30,"a":40}
my_list =[]

for k, v in my_dict.items():
    my_list.append((k,v))

sorted(my_list, reverse=True)

[('c', 10), ('b', 30), ('a', 40)]

In [68]:
my_list = []
my_dict = {}
with open("file.txt", "r") as file:
    contents = file.read()
    contents = contents.split()

for i in  contents:
    my_dict[i] = my_dict.get(i,0) + 1

my_list2 = []

for k, v in my_dict.items():
    my_list2.append((v, k))

my_list = sorted(my_list2, reverse=True)

my_list[:2]

[(3, 'in'), (3, 'Nigeria.')]