In [29]:
course = "python"
number_of_student = 1004
average_score = 75.2
highest_score = 89
lowest_score = 22
comp = 337.2j
mass_failure = "false"

print(course)
print(number_of_student)
print(average_score)
print(highest_score)
print(lowest_score)
print(comp)

python
1004
75.2
89
22
337.2j

In [48]:
print(type(course))
print(type(number_of_student))
print(type(average_score))
print(type(highest_score))
print(type(lowest_score))
print(type(comp))
print(type(mass_failure))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'complex'>
<class 'str'>

In [58]:
football_club = "chelsea"
mvp = "Palmer"
jersey_number = 20
goals = 30
average_goals_per_minute = 0.22
best_player = True

print(football_club)
print(mvp)
print(goals)
print(average_goals_per_minute)
print(best_player)
print(jersey_number)

chelsea
Palmer
30
0.22
True
20

In [62]:
print(type(football_club))
print(type(mvp))
print(type(goals))
print(type(average_goals_per_minute))
print(type(best_player))
print(type(jersey_number))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>

In [64]:
input("What is your name? ")

What is your name?  Salam

'Salam'

In [66]:
name = input("What is your name? ")
print("Hello " + name)

What is your name?  Salam

Hello Salam

In [ ]:
# input function

# int functio is used to convert a string into an integer

birth_year = input("Enter your birth year: ")
age = 2024 - int(birth_year)

In [72]:
print(age)

23

In [ ]:
# float
# converting a value to a floating point number

In [74]:
price = input("what is price? ")

what is price?  100 naira

In [82]:
print("bag of rice is " + price)

bag of rice is 100 naira

In [86]:
print(type(price))

<class 'str'>

In [93]:
def pass_fail(avg):
    if avg>= 60:
        grade = 'pass'
    "else: 
    grade = "fail"
    return grade

IndentationError: expected an indented block after 'else' statement on line 4 (645009469.py, line 5)

In [ ]:
shool_fees = 14000
print(str(school_fees))